<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<!--    <title>{{ page.title }}</title>-->
    <link rel="stylesheet" href="docs/assets/style.css">
    <link rel="stylesheet" href="docs/assets/orginal-style.css">
</head>
<body>
<header class="go-7-header">
    <h2 class="header-text">OTA Quick Start Guide</h2>
    <div class="logos-container">
        <img class="go-7-logo" src="docs/assets/images/go7_logo.png" />

        <div>
            <h5 class="collaboration-text">In collaboration with</h5>
            <img class="sar-logo" src="docs/assets/images/HHR Logo - Colored.png" />
        </div>
    </div>
    
</header>
<div class="container-lg px-3 my-5 markdown-body">{{ content }}</div>
<footer></footer>
</body>
</html>